@use '../partials/colors-fonts' as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
}
/*
@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
}*/

html {
    font-family: Avenir Next;
}

body {
    margin: 0;
}

.site-padding {
    padding: 0 16px;

    @include tablet() {
        padding: 0 36px;  
    }

   /* @include mobile() {
        padding: 0 calc(100vw - 16px);  
    }

    @include tablet() {
        padding: 0 calc(100vw - 26px);  
    } */
}


p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;

   @include tablet() {
        font-size: 14px;
        line-height: 22px;
    }
    
}


h1 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;

    @include tablet() {
        font-size: 60px;
        line-height: 68px;
        font-weight: 600;
    }
}

h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 16px;
    margin: 0;

    @include tablet() {
        font-size: 36px;
        line-height: 46px;
    }
}

h3 {
    
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    padding-top: 24px;
    padding-bottom: 16px;
    margin: 0;

    @include tablet() {
        font-size: 24px;
        line-height: 32px;
    }
}

.site-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $bandsite-black;
    padding-top: 16px;

    @include tablet() {
        flex-direction: row;
        padding-left: 36px;
    }
}

.header-logo {
    display: flex;
    max-height: 20px;
    max-width: 120px;
}

.primary-nav {
    display: flex;
    width: 100%;

    @include tablet() {
        flex-direction: row;
        width: inherit;
    }

    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        margin: 0;
        width: 100%;
        padding-inline-start: 0;

        li {
            display: flex;
            color: $mercury;
            padding: 16px;
            width: 50%;
            justify-content: center;
        }
        li:hover {
            color: $white;
            border-bottom: solid $white 3px;
            transition-property: border-bottom-color, border-bottom-width;
            transition-duration: 1s, 1s;
        }
    }
}

blockquote {
    display: flex;
    padding-top: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;

    @include tablet() {
        font-size: 14px;
        line-height: 22px;
    }
}

.footer {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    color: $white;

    div {

        display: flex;
        flex-direction: column;

        @include tablet() {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

        .footer-logo {
            max-height: 20px;
            max-width: 120px;
            padding: 8px 0;
            display: none;

            @include tablet() {
                display: flex;
              }
        }

        article {
            display: flex;
            flex-direction: column;

            .footer-names {
                font-weight: 600;
            }

            p {
                padding: 8px 0;
            }
        }

        .social{
            flex-direction: row;
        
            img {
                padding-right: 16px;
            }
        
            @include tablet {
                align-self: inherit;
            }
        }
    }

    &-logo__mobile {
        display: flex;
        max-height: 20px;
        max-width: 120px;
        padding: 8px 0;

        @include tablet {
            display: none;
        }
    }
}

