@use '../partials/colors-fonts' as *;

html {
    font-family: Avenir Next;
}

body {
    margin: 0;
}

.site-padding {
    padding: 0 16px;

    @include tablet() {
        padding: 0 36px;  
    }

   @include desktop() {
        padding: 0 calc(100vw - (1280px - 150px));  
    }
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $bandsite-black;
    padding-top: 16px;

    @include tablet() {
        flex-direction: row;
        padding-left: 36px;
    }

    @include desktop() {
       padding: 16px calc(100vw - (1280px - 150px)) 0;
    }
}

.header-logo {
    display: flex;
    max-height: 20px;
    max-width: 120px;
    padding-bottom: 16px;
}

.primary-nav {
    display: flex;
    width: 100%;

    @include tablet() {
        flex-direction: row;
        width: inherit;
    }

    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        margin: 0;
        width: 100%;
        padding-inline-start: 0;

        li {
            display: flex;
            color: $mercury;
            padding: 0 16px;
            width: 50%;
            justify-content: center;

            a {
                text-decoration: none;
                color: $mercury;
            }

            .active {
                color: $white;
                font-weight: bold;
                border-bottom: solid $white 3px;
                padding-bottom: 16px;
            }
        }

        li:hover {
            @extend .active;
            font-weight: normal;
            transition-property: border-bottom-color, border-bottom-width;
            transition-duration: 1s, 1s;
        }
    }
}

.footer {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    color: $white;

    div {

        display: flex;
        flex-direction: column;

        @include tablet() {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

        .footer-logo {
            max-height: 20px;
            max-width: 120px;
            padding: 8px 0;
            display: none;

            @include tablet() {
                display: flex;
              }
        }

        article {
            display: flex;
            flex-direction: column;

            .footer-names {
                font-weight: 600;
            }

            p {
                padding: 8px 0;
            }
        }

        .social{
            flex-direction: row;
        
            img {
                padding-right: 16px;
            }
        
            @include tablet {
                align-self: inherit;
            }
        }
    }

    &-logo__mobile {
        display: flex;
        max-height: 20px;
        max-width: 120px;
        padding: 8px 0;

        @include tablet {
            display: none;
        }
    }
}

