@use '../partials/colors-fonts' as *;

html {
    font-family: Avenir Next;
}

body {
    margin: 0;
}

.site-padding {
    padding: 0 16px;

    @include tablet() {
        padding: 0 36px;  
    }

   @include desktop() {
        padding: 0 calc(100vw - (1280px - 150px));  
    }
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $bandsite-black;

    @include tablet() {
        flex-direction: row;
        padding: 0 36px;
    }

    @include desktop() {
       padding: 16px calc(100vw - (1280px - 150px)) 0;
    }
}

.header-logo {
    display: flex;
    max-height: 20px;
    max-width: 120px;
    padding: 16px 0;

    @include tablet() {
        flex-direction: row;
        padding: 36px 0;
        padding-right: 36px;
    }

    @include desktop() {
        flex-direction: row;
        padding: 36px 0;
        padding-right: 36px;
    }
}

.primary-nav {
    display: flex;
    width: 100%;

    @include tablet() {
        flex-direction: row;
        width: inherit;
    }

    ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        margin: 0;
        width: 100%;
        padding-inline-start: 0;

        li {
            display: flex;
            color: $mercury;
            width: 50%;
            justify-content: center;

            @include tablet() {
                width: 100%;
                padding: 0 16px;
            }

            a {
                text-decoration: none;
                color: $mercury;
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 16px;

                @include tablet () {
                    padding: 36px 0;
                }
            }

            .active {
                color: $white;
                font-weight: 500;
                border-bottom: solid $white 3px;               
            }
        }

        a:hover {
            @extend .active;
            font-weight: 400;
            border-bottom: solid $white 3px;
            // transition-property: border-bottom-color, border-bottom-width;
            // transition-duration: 1s, 1s;
        }
    }
}

.footer {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    color: $white;

    div {

        display: flex;
        flex-direction: column;

        @include tablet() {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }

          h2 {
              padding: 16px 0;
          }

          element {

            @include tablet (){
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 60%;
            }

            @include desktop() {
              width: 50%;
            }

          }

        .footer-logo {
            max-height: 20px;
            max-width: 120px;
            padding: 8px 0;
            display: none;

            @include tablet() {
                display: flex;
              }
        }

        article {
            display: flex;
            flex-direction: column;
            padding: 8px 0;

            .footer-names {
                font-weight: 500;
            }

            p {
                padding: 8px 0;
            }
        }

        .social{
            flex-direction: row;
            justify-content: space-between;
            width: 40%;
        
            img {
                padding-right: 16px;
            }
        
            @include tablet {
                justify-content: flex-start;
            }

            @include desktop {
                justify-content: flex-start;
            }
        }
    }

    .footer-contacts {
        @include desktop {
            width: 70%
        }
    }

    &-logo__mobile {
        display: flex;
        max-height: 20px;
        max-width: 120px;
        padding: 42px 0 8px;

        @include tablet {
            display: none;
        }
    }
}

