@use '../styles/partials/global' as *;
@use '../styles/partials/colors-fonts' as *;

/*UPDATE TO START WITH MOBILE FIRST THEN DESKTOP*/

.hero {
    background-image: url(../assets/Images/hero-bio.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50vw;
    color: $white;

    @include tablet() {
        height: 45vw;
    }

    @include desktop() {
        height: 45vw;
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    color: $bandsite-black;

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        @include tablet () {
            width: 85%;
            }

        //this is the same as tablet
        @include desktop () {
            width: 85%;
            }

        h3 {
            @extend.section-header;
        }

        figure {
            background-image: url(../assets/Images/band.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 50vw;
            margin: 0;

            @include tablet() {
                height: 40vw;
            }
            @include desktop() {
                height: 35vw;
            }
        }

        element {
            display: flex;
            flex-direction: column;
                
            @include tablet() {
                flex-direction: row;
            }
        
            //this is the same as tablet
                @include desktop {
                    flex-direction: row;
                    }
        
             p {
                display: flex;
                padding-bottom: 16px; 
            }
        }
    }  
}

.section-header {
    align-self: flex-start;
}

blockquote {
    display: flex;
    padding-top: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    @include tablet() {
        font-size: 22px;
        line-height: 32px;
        padding-top: 3rem;
    }

    @include desktop() {
       width: 80%;
    }
}

.blockquote-byline {

    @include tablet() {
        font-size: 16px;
        line-height: 22px;
        padding-top: 16px;
    }

}

.photo-gallery {
    background-color: $alabaster;

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet() {
            justify-content: space-between;
        }

        img {
            width: 100%;
            padding-bottom: 16px;

            @include tablet() {
                width: 31%;
            }

            @include desktop() {
                padding-bottom: 2rem;
            }
         }
    }
}

.comments_section-form {
    display: flex;

    img {
        max-width: 36px;
        max-height: 36px;
        padding-top: 16px;
        padding-right: 16px;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Avenir Next;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: $silver;

    ::placeholder {
        font-family: Avenir Next;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: $bandsite-black;

    }

    button {
        margin-bottom: 16px;
        height: 40px;
        padding: 0 32px;
        background-color: $bandsite-black;
        color: $white;
        border-radius: 4px;
        font-family: Avenir Next;
        font-size: 13px;
        line-height: 18px;
        font-weight: 600;
    }
}

.form-field {
    display: flex;
    flex-direction: column;

    label {
        padding-bottom: 4px;
    }

    input {
        margin-bottom: 16px;
        min-height: 36px;
        border-radius: 4px;
        padding: 0 12px;
        border: $mercury solid 1px;
    }

    textarea {
        @extend input ;
        padding-top: 12px;
        height: 100px;
    }
        
}

hr {
    color: $mercury;
    stroke-width: 1px;
}