@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
  font-style: normal;
}
p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (min-width: 1280px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 500;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
    font-weight: 500;
  }
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 16px;
  margin: 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 36px;
    line-height: 46px;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1280px) {
  h2 {
    font-size: variable;
    line-height: variable;
    padding-top: variable;
    padding-bottom: variable;
  }
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 24px;
  padding-bottom: 16px;
  margin: 0;
}
@media (min-width: 768px) {
  h3 {
    font-size: 24px;
    line-height: 32px;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

html {
  font-family: Avenir Next;
}

body {
  margin: 0;
}

.site-padding {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .site-padding {
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  .site-padding {
    padding: 0 calc(100vw - (1280px - 150px));
  }
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
}
@media (min-width: 768px) {
  header {
    flex-direction: row;
    padding: 0 36px;
  }
}
@media (min-width: 1280px) {
  header {
    padding: 16px calc(100vw - (1280px - 150px)) 0;
  }
}

.header-logo {
  display: flex;
  max-height: 20px;
  max-width: 120px;
  padding: 16px 0;
}
@media (min-width: 768px) {
  .header-logo {
    flex-direction: row;
    padding: 36px 0;
    padding-right: 36px;
  }
}
@media (min-width: 1280px) {
  .header-logo {
    flex-direction: row;
    padding: 36px 0;
    padding-right: 36px;
  }
}

.primary-nav {
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .primary-nav {
    flex-direction: row;
    width: inherit;
  }
}
.primary-nav ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 0;
  width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.primary-nav ul li {
  display: flex;
  color: #E1E1E1;
  width: 50%;
  justify-content: center;
}
@media (min-width: 768px) {
  .primary-nav ul li {
    width: 100%;
    padding: 0 16px;
  }
}
.primary-nav ul li a {
  text-decoration: none;
  color: #E1E1E1;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .primary-nav ul li a {
    padding: 36px 0;
  }
}
.primary-nav ul li .active, .primary-nav ul li li:hover {
  color: #FFFFFF;
  font-weight: 500;
  border-bottom: solid #FFFFFF 3px;
}
.primary-nav ul li:hover {
  font-weight: normal;
  transition-property: border-bottom-color, border-bottom-width;
  transition-duration: 1s, 1s;
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}
.footer div {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer div h2 {
  padding: 16px 0;
}
@media (min-width: 768px) {
  .footer div element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
}
@media (min-width: 1280px) {
  .footer div element {
    width: 50%;
  }
}
.footer div .footer-logo {
  max-height: 20px;
  max-width: 120px;
  padding: 8px 0;
  display: none;
}
@media (min-width: 768px) {
  .footer div .footer-logo {
    display: flex;
  }
}
.footer div article {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.footer div article .footer-names {
  font-weight: 500;
}
.footer div article p {
  padding: 8px 0;
}
.footer div .social {
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}
.footer div .social img {
  padding-right: 16px;
}
@media (min-width: 768px) {
  .footer div .social {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer div .social {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .footer .footer-contacts {
    width: 70%;
  }
}
.footer-logo__mobile {
  display: flex;
  max-height: 20px;
  max-width: 120px;
  padding: 42px 0 8px;
}
@media (min-width: 768px) {
  .footer-logo__mobile {
    display: none;
  }
}

/*UPDATE TO START WITH MOBILE FIRST THEN DESKTOP*/
.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50vw;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero {
    height: 45vw;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 45vw;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  color: #323232;
}
.about div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .about div {
    width: 85%;
  }
}
@media (min-width: 1280px) {
  .about div {
    width: 85%;
  }
}
.about div figure {
  background-image: url(../assets/Images/band.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vw;
  margin: 0;
}
@media (min-width: 768px) {
  .about div figure {
    height: 40vw;
  }
}
@media (min-width: 1280px) {
  .about div figure {
    height: 35vw;
  }
}
.about div element {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about div element {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .about div element {
    flex-direction: row;
  }
}
.about div element p {
  display: flex;
  padding-bottom: 16px;
}

.section-header, .about div h3 {
  align-self: flex-start;
}

blockquote {
  display: flex;
  padding-top: 16px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
@media (min-width: 768px) {
  blockquote {
    font-size: 22px;
    line-height: 32px;
    padding-top: 3rem;
  }
}
@media (min-width: 1280px) {
  blockquote {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .blockquote-byline {
    font-size: 16px;
    line-height: 22px;
    padding-top: 16px;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
.photo-gallery div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .photo-gallery div {
    justify-content: space-between;
  }
}
.photo-gallery div img {
  width: 100%;
  padding-bottom: 16px;
}
@media (min-width: 768px) {
  .photo-gallery div img {
    width: 31%;
  }
}
@media (min-width: 1280px) {
  .photo-gallery div img {
    padding-bottom: 2rem;
  }
}/*# sourceMappingURL=bio.css.map */