@use '../styles/partials/global' as *;
@use '../styles/partials/colors-fonts' as *;

/*UPDATE TO START WITH MOBILE FIRST THEN DESKTOP*/

.hero {
    background: url(../assets/Images/hero-bio.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25vh;
    color: $white;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    color: $bandsite-black;

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        @include tablet () {
            width: 85%;
            }

        //this is the same as tablet
        @include dekstop {
            width: 85%;
            }

        h3 {
            @extend.section-header;
        }
        element {
            display: flex;
            flex-direction: column;
                
            @include tablet() {
                flex-direction: row;
            }
        
            //this is the same as tablet
                @include dekstop {
                    flex-direction: row;
                    }
        
             p {
                display: flex;
                padding-bottom: 16px; 
            }
        }
    }  
}

.section-header {
    align-self: flex-start;
}

blockquote {
    display: flex;
    padding-top: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;

    @include tablet() {
        font-size: 24px;
        line-height: 32px;
        padding-top: 3rem;
    }

    @include desktop() {
       width: 85%;
    }
}

.blockquote-byline {

    @include tablet() {
        font-size: 20px;
        line-height: 22px;
        padding-top: 16px;
    }

}

.photo-gallery {
    background-color: $alabaster;

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include tablet() {
            justify-content: space-between;
        }

        img {
            width: 100%;
            padding-bottom: 16px;

            @include tablet() {
                width: 31%;
            }

            @include desktop() {
                padding-bottom: 2rem;
            }
         }
    }
}